
main > h1{
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.116);

}
main > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    margin: auto;
    padding: 0px 10px;
    padding-bottom:30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.089)
}

form{
    max-width: 500px;
    margin: auto;
    background-image:  linear-gradient( to bottom, #2da866, #1a5c37) ;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

form p{
    margin: auto;
    padding: 10px;
}

fieldset{
    border: none;
}
input, textarea{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    /*box-sizing: border-box;
    padding: 10px;
    border: none; ARRUMAR*/
}

input:focus, textarea:focus{
    background-color: #3ddc84;

}
input:hover{
    background-color: #3ddc84;
}

textarea{
    border-radius: 10px ;
    
}

textarea:hover{
    background-color: #3ddc84;
}

button{
    display: block;
    margin: 30px auto 0px auto;
    padding: 5px;
    border-radius: 10px;
    color: #1a5c37;
    background-color:  white;
    font-size: .9em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
button:hover{
    color:#3ddc84;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

button, input, textarea{
    cursor: pointer;
}
span{
    color: red;
}
